---
const { href, src, channel, height, width } = Astro.props;
---
<div>
  <a href={href}>        
    <img src={src} alt={`Icon for ${channel}`} {height} {width} />
    <span>{channel}</span>
  </a>
</div>

<style>
  div {
    font-size: 1.125rem;
    font-weight: bold;
    background-color: var(--surface-3);
    border-radius: 24px;
    height: 100%;
    padding-inline: 16px;
    display: flex;

    & a {
      color: var(--text-1);
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
</style>